.header {
    height: 60px;
    background-color: #42b724;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 4px 4px #161a0082;
    display: flex;
    white-space: nowrap;
}

.header__logo {
    padding: 10px;
    height: 100%;
    width: 200px;
    font-size: 3.5rem;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.header__logo a {
    text-decoration: none;
    color: #373737;
}

.header__nav {
    width: 65%;
}

.header__list {
    font-size: 2.7rem;
    text-align: center;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.header__item {
    width: 100%;
    border-left: 1px solid #757575;
    padding-top: 12px;
    padding-bottom: 22px;
    height: 26px;
}

.header__item:hover {
    background: linear-gradient(#42b724, #78c664);
    cursor: pointer;
}

.header__item a {
    text-decoration: none;
    color: #ffffff;
    cursor: unset;
}

.header__span {
    color: #ffffff;
}

.header__item:last-child {
    border-right: 1px solid #757575;
}

.header__item:last-child a > img {
    vertical-align: sub;
    margin-top: -4px;
}

.header__item:nth-child(-n + 2) {
    width: 70%;
}

.header__search {
    margin: 18px auto;
}

.header__search > #search {
    height: 20px;
    border-radius: 5px;
    width: 130px;
    font-size: 1.5rem;
    vertical-align: top;
}

.header__search > #search-submit {
    display: none;
}

.header__search > label {
    display: inline-block;
    margin: 3px;
}

.header__search > label:hover {
    cursor: pointer;
}