html {
    font-size: 10px;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Istok Web', sans-serif;
    background-color: #a8b3aa;
}

.main__wrapper {
    width: 80vw;
    height: 1200px;
    background-color: #ffffff;
    /* box-shadow: 2px 11px 5px -6px rgba(0,0,0,0.75); */
    /* border-radius: 20px 20px 20px 20px; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: space-around;
}

.main__item {
    font-size: xx-large;
    width: 300px;
    height: 300px;
    background-color: red;
    margin-top: 10px;
}

.main__tools {
    width: 80vw;
    height: 50px;
    background-color: #757575;
    margin: 20px auto 0 auto;
    border-radius: 20px 20px 0 0;
}