#app-index {
    display: none;
}

#app-html {
    display: none;
}

#app-css {
    display: none;
}

#app-js {
    display: none;
}

#app-contacts {
    display: none;
}

#app-profile {
    display: none;
}