.header {
    height: 60px;
    background-color: #42b724;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 4px 4px #161a0082;
    display: flex;
    white-space: nowrap;
}

.header__logo {
    padding: 10px;
    height: 100%;
    width: 200px;
    font-size: 3.5rem;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.header__logo a {
    text-decoration: none;
    color: #373737;
}

.header__nav {
    width: 65%;
}

.header__list {
    font-size: 2.7rem;
    text-align: center;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.header__item {
    width: 100%;
    border-left: 1px solid #757575;
    padding-top: 12px;
    padding-bottom: 22px;
    height: 26px;
}

.header__item:hover {
    background: linear-gradient(#42b724, #78c664);
    cursor: pointer;
}

.header__item a {
    text-decoration: none;
    color: #ffffff;
    cursor: unset;
}

.header__span {
    color: #ffffff;
}

.header__item:last-child {
    border-right: 1px solid #757575;
}

.header__item:last-child a>img {
    vertical-align: sub;
    margin-top: -4px;
}

.header__item:nth-child(-n + 2) {
    width: 70%;
}

.search {
    margin: 18px auto;
}

.search>.search__input {
    height: 20px;
    border-radius: 5px;
    width: 130px;
    font-size: 1.5rem;
    vertical-align: top;
}

.search .search__submit {
    display: none;
}

.search>label {
    display: inline-block;
    margin: 3px;
}

.search>label:hover {
    cursor: pointer;
}

.header__dropdown {
    position: absolute;
    z-index: 1;
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    top: 60px;
    text-align: start;
    padding: 5px;
    box-shadow: 0px 10px 9px -1px rgba(0, 0, 0, 0.67);
}

.header__dropdown a {
    font-size: 2.4rem;
    color: #301e1e;
}

.header__dropdown a:hover {
    background: #d8d8d8;
}

.header__dropdown a:not(:last-child) {
    border-bottom: 1px solid #301e1e;
}

.header__item_html:hover .header__dropdown_html {
    display: flex;
}

.header__item_javascript:hover .header__dropdown_js {
    display: flex;
}

.header__item_css:hover .header__dropdown_css {
    display: flex;
}

.hide-menu {
    display: none;
}

.hide-menu__button {
    display: none;
}

.hide-menu>label {
    height: 22px;
    display: inline-block;
}

.header__list.shown {
    display: block;
    margin-bottom: 5px;
}

.header.shown {
    height: 460px;
}