html {
    font-size: 10px;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Istok Web', sans-serif;
    background-color: #a8b3aa;
}

.show-page {
    display: block !important;
}

.main__wrapper {
    width: 80vw;
    height: 1200px;
    background-color: #ffffff;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: scroll;
}


.main__item {
    font-size: xx-large;
    width: 310px;
    height: 400px;
    background-color: #e2e2e2;
    margin: 20px auto;
    box-shadow: 2px 11px 5px -6px rgba(0, 0, 0, 0.75);
    border-radius: 20px 20px 20px 20px;
}

.main__item:hover {
    box-shadow: 2px 15px 5px 0px rgba(0, 0, 0, 0.75);
}

.main__img {
    height: 300px;
    text-align: center;
    max-width: 300px;
    border-radius: 20px 20px 0px 0px;
    margin: 5px;
    border-bottom: 1px solid #757575;
}

.main__img > img {
    max-width: 300px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
}

.main__caption {
    font-size: 2.7rem;
    width: 300px;
}

.main__caption a {
    text-align: center;
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000000;
}

.main__tools {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 50px;
    background-color: #757575;
    margin: 20px auto 0 auto;
    border-radius: 20px 20px 0 0;
}

.main__breadcrumbs {
    font-size: 1.9rem;
    color: #000000 !important;
    align-items: center;
    display: flex;
    margin-left: 40px;
    width: 50%;
    height: 100%;
}

.main__assortment {
    margin-right: 40px;
    padding-top: 10px;
}

.main__select {
    height: 30px;
    font-size: 1.2rem;
    background-color: #dadada;
}

.main__crumb {
    text-decoration: underline;
    cursor: pointer;
}

.main__crumb_current {
    text-decoration: none;
    cursor: unset;
}

.main__crumb_current::before {
    content: '→';
    display: inline-block;
    margin: 0 5px;
}

